<h1>Adnat</h1>
<% if Current.user %>
  Logged in as: <%=Current.user.name%><br>
  <%= button_to "Logout", logout_path,  method: :delete %>
<% else %>
  <%= link_to "Sign up", sign_up_path %>
  <%= link_to "Sign in", sign_in_path %>
<% end %>
